<nav class="navbar navbar-toggleable-md">
    <div class="navbar navbar-header">
      <a class="navbar navbar-brand">Examenproject - Factory</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar navbar-nav">
        <li class="navbar nav-item" routerLinkActive="active"><a style="cursor: pointer" routerLink="/">Home</a></li>
        <li class="navbar nav-item" routerLinkActive="active"><a style="cursor: pointer" routerLink="/hall">Hall</a></li>
      </ul>
    </div>
</nav>
